/* App.css */

/* Общие стили */
body {
  font-family: Arial, sans-serif;
  background-color: #eeeff0dc;
  color: #2d3034;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-wrap: nowrap;

}

/* Стили для списка товаров */
.list-group-item {
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  position: relative;
}

p {
  margin: 0;
  padding: 0;
}

.grey {
  margin: 0 auto;
  padding: 0;
  color: rgb(201, 201, 201);
  position: sticky;

}

.li-item {
  max-width: 300px;
}

label {
  margin-left: 3px;
}


h2 {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}